// Insert your content styling here.
.page-content {
  margin-top: 80px;
}

.division {
  @media (min-width:768px) {
    width: 33.3%;
    float: right;
  }
  .block {
    border: solid;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 0px 1px 1px #333333;
    margin: 30px 15px;
    height: 248px;
    position: relative;
    .Actions {
      position: absolute;
      bottom: 0;
      font-weight: bold;

      .field--name-field-link{
        float: left;
        padding: 10px;
        background: #8e8006;
        a {
          color :#fff;
        }
      }

      .field--name-field-add-link {
        float: left;
        padding: 10px;
        background: #3f5f1c;
        a {
          color :#fff;
        }
      }
    }
  }
}

.block-views-blocksuggestions-block-suggestions {
  border: solid;
  clear: both;
  border-radius: 6px;
  box-shadow: 0px 0px 1px 1px #333333;
  margin: 30px 15px;
  h2 {
    text-align: center;
  }

  .suggestions-list {
    padding: 0 15px;
    .views-row {
      padding: 5px;
      background: white;
      border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    }

    .views-field-title {
      font-size: 19px;
      font-weight: bold;
      display: inline-block;

    } 

    .views-field-timestamp {
      font-size: 11px;
      display: inline-block;
    }
  }
}
.path-frontpage {
  h2 {
    font-size: 26px;
    background: #333333;
    margin: 0;
    color: white;
    padding: 10px;
    margin-bottom: 22px;
    line-height: 25px;
  }
}

.block-user-login-block {
  @media (min-width:768px) {
    width: 50%;
    margin: 0 auto;
  }
  .item-list {
    ul li {
      list-style: none ;
      .create-account-link {
        display: none;
      }
    }
  }

  .form-item {
    input {
      width: 100%;
      height: 40px;
    }
  }
}

.field--name-field-location {
  word-wrap: break-word;
}


table {
  margin-bottom: 100px;
  
  caption {
   text-align: left;
   font-weight: bold;
   font-size: 20px;
   padding: 15px 0;
 }
}