// Insert your RTL content styling here.
.ui-datepicker-rtl {
  width: unset;
}

  .adminimal select:focus, 
  .adminimal select:hover {
    background: url(../images/caret-down.svg) no-repeat 5% 64% #fcfcfa;
  }

.field--label-inline .field__label, 
.field--label-inline .field__items {
  float: right;
}

[dir="rtl"] .more-link {
  text-align: right;
  font-size: 19px;
  font-weight: bold;
  display: inline-block;
}
