@import 'http://fonts.googleapis.com/earlyaccess/droidarabickufi.css';

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  &:hover {
    img {
      opacity:0.5;
    }
  }
}

body {
  font-family: 'Droid Arabic Kufi';
  direction: rtl;
  margin:0px;    
}

h1.title {
  display:none;
}

.container {
  
  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }

  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin: 0 -15px
}

.header {
  margin-top: 13px;
  overflow: hidden;

  .logo {
    text-align: center;
  }
}

.showcase {
  background: url(/custom_files/images/background-green.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  height: 625px;
  display: flex;
  align-items: center;

  .content {
    @media  (min-width:768px) {
      float: right;
      width: 60%;
    }

    text-align: right;
    color: #fff;

    #slogan {
      font-weight: bold;
    }
  }   

  .prototype {
    @media  (min-width:768px) {
      position: absolute;
      left: 0;
      top: 84px;

      img {
        width: 73%;
        float: left;
      }
    }

    @media  (max-width:767px) {
      display:none;
    }
  }
}

.About {
  text-align: center;
  margin: 50px 0px;
}

.services {
  text-align: center;
  background: url(/custom_files/images/circle.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position-x: 100%;
  display: flex;
  align-items: center;

  @media  (min-width:768px) {
    margin-top: -323px;
    height: 1057px;
  }

  .service {
    padding: 15px;

    @media  (min-width:768px) {
      width: 33.3%;
      float: right;
    }
  }
}

.how-works {
  text-align: center;
  background: url(/custom_files/images/background-who-to.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;

  @media  (min-width:768px) {
    margin-top: -272px;
    height: 335px;
  }
}

.locations {
  background: url(/custom_files/images/background-map.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 570px;
  position: relative;
  overflow: hidden;

  h2 {
    text-align: center;
    margin: 40px 0;
  }

  .content {
    font-size: 21px;
  }

  .map {
    @media  (min-width:768px) {
      position: absolute;
      left: 133px;
      top: 100px;
    }

    @media (min-width:768px) and (max-width:991px) {
      left: 0;
    }

    @media  (max-width:767px) {
      display:none;
    }
  }
}

.dowload-app {
  text-align: center;
  margin-bottom: 50px;

  h2 {
    margin: 40px 0;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    display: inline-block;
  }
}

.footer {
  background: #cdcdcd;
  overflow: hidden;
  font-family: monospace;
  padding: 10px 0;

  @media  (max-width:767px) {
    text-align:center;

    div {
      padding: 5px 0;
    }
  }

  .copyright {
    @media  (min-width:768px) {
      float: left;
    }
  }

  .developed {
    @media  (min-width:768px) {
      float: right;
    }
    a {
      color: #0077B3;
      text-decoration: none;
    }
  }
}

