.page-content {
  margin-top: 80px;
}
@media (min-width: 768px) {
  .division {
    width: 33.3%;
    float: right;
  }
}
.division .block {
  border: solid;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 1px 1px #333333;
  margin: 30px 15px;
  height: 248px;
  position: relative;
}
.division .block .Actions {
  position: absolute;
  bottom: 0;
  font-weight: bold;
}
.division .block .Actions .field--name-field-link {
  float: left;
  padding: 10px;
  background: #8e8006;
}
.division .block .Actions .field--name-field-link a {
  color: #fff;
}
.division .block .Actions .field--name-field-add-link {
  float: left;
  padding: 10px;
  background: #3f5f1c;
}
.division .block .Actions .field--name-field-add-link a {
  color: #fff;
}
.block-views-blocksuggestions-block-suggestions {
  border: solid;
  clear: both;
  border-radius: 6px;
  box-shadow: 0px 0px 1px 1px #333333;
  margin: 30px 15px;
}
.block-views-blocksuggestions-block-suggestions h2 {
  text-align: center;
}
.block-views-blocksuggestions-block-suggestions .suggestions-list {
  padding: 0 15px;
}
.block-views-blocksuggestions-block-suggestions .suggestions-list .views-row {
  padding: 5px;
  background: white;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.block-views-blocksuggestions-block-suggestions .suggestions-list .views-field-title {
  font-size: 19px;
  font-weight: bold;
  display: inline-block;
}
.block-views-blocksuggestions-block-suggestions .suggestions-list .views-field-timestamp {
  font-size: 11px;
  display: inline-block;
}
.path-frontpage h2 {
  font-size: 26px;
  background: #333333;
  margin: 0;
  color: white;
  padding: 10px;
  margin-bottom: 22px;
  line-height: 25px;
}
@media (min-width: 768px) {
  .block-user-login-block {
    width: 50%;
    margin: 0 auto;
  }
}
.block-user-login-block .item-list ul li {
  list-style: none ;
}
.block-user-login-block .item-list ul li .create-account-link {
  display: none;
}
.block-user-login-block .form-item input {
  width: 100%;
  height: 40px;
}
.field--name-field-location {
  word-wrap: break-word;
}
table {
  margin-bottom: 100px;
}
table caption {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 0;
}
/*# sourceMappingURL=baladeyetkom-admin.theme.style.css.map */